<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeyboardInstallerTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Ukelele Cocoa.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Ukelele Quick Look Generator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Ukelele.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>org.sil.Ukelele.KeyboardInstallerTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>523B01E6191D865100E06DF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>523B0204191D8C3100E06DF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5277EB621AAE844600C471C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52BBECFE191B4C3900E48394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52BBED22191B4C3900E48394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
